<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685115921324-vc46a9ncfb9oglndn5mlnh89r26h44qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685115921324-vc46a9ncfb9oglndn5mlnh89r26h44qq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>685115921324-abvhejbbir92oqkvpoti6pd1mihgbb6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuhK-SgIlKTCpXRqkYBJrfLN1jz9nAK78</string>
	<key>GCM_SENDER_ID</key>
	<string>685115921324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.diegoariza.push</string>
	<key>PROJECT_ID</key>
	<string>flutterpushapp-c45b9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpushapp-c45b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685115921324:ios:684a65abfcbc6b297e6009</string>
</dict>
</plist>